@media(max-width: 1400px)
{

.heading1 {
    padding: 8% 0px;
}

   .footer-content ul {
    padding: 0 0px 0 5px;
  }

.embx {
    max-width: 132px;
    background-color: #f1f3fc;
    border: none;
    color: #333;
  }

 .sale {
    background-color: black;
    color: white;
    padding: 5px 12px;
    font-weight: 400;
    position: absolute;
    bottom: 90%;
    right: 0%;
  }
}



@media (max-width: 1299px)
{

.embx {
    max-width: 114px;
    background-color: #f1f3fc;
    border: none;
    color: #333;
    font-size: 12px;
  }


.heading1 {
    padding: 25% 0;
  
  }


	.sale {
    background-color: black;
    color: white;
    padding: 5px 12px;
    font-weight: 400;
    position: absolute;
    bottom: 87%;
    right: 0%;
  }


    .box3text p {
    font-weight: 400;
    font-size: 13px;
    margin: 5px 0 2px;

}

.embx {
    max-width: 104px;
    font-size: 12px;
  }


    .navbar-light .navbar-nav .nav-link {
    
    font-size: 18px; 
  }

.search-box select {
    border: 2px solid;
    padding: 10px 26px 10px 6px;
  }

    .copy p {
    font-size: 11px;
  }

}

@media (max-width: 1199px){
  .heading1{
    padding-top: 80px;
    padding-bottom: 70px;
  }
}

@media (max-width: 575px){
  .footer-section ul li{
    list-style: none;
    display:none;
  }
  .footer-section p {
    padding-right: 125px;
    text-align: center;
  }

  .copy p {
        padding-left: 19px;
    margin-top: 18px;
    margin-left: 90px;
}

  .top-right ul {
    padding-right: 82px;
}

.top-left {
    padding-left: 112px;
}

.heading1 h1 {
    padding-top: 40px;
    font-size: 20px;
    letter-spacing: 2px;
}

.sign {
    padding-right: 180px;
    font-size: 16px;
}
.footer-section h5 {
    font-size: 15px;
    line-height: 11.5px;
}

}

